$break-small: 600px;

// https://material.io/guidelines/components/cards.html#cards-content-blocks
// Card margins on mobile: Padding from edge of screen to card: 8dp; Space between cards: 8dp
// larger sizes: as long as they follow Material Design 8dp grid
$small-margin: 8px;
$big-margin: 24px;
